@use 'nprogress/nprogress';

.ag-theme-quartz,
.ag-theme-quartz-dark {
  --ag-font-family: inherit;
}

// Tree 组件的文字不换行
.ant-tree .ant-tree-title {
  white-space: nowrap;
}

// Button Icon 位置偏移问题
.ant-btn [class^='ant-btn'],
.ant-btn [class*=' ant-btn'] {
  display: flex;
  align-items: center;
  justify-content: center;
}
